body{
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #e3f5f9;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}



