.chatRoomContainer{
    width: 600px;
    height: 350px;
    border: 5px solid rgb(66, 66, 184);
    border-radius: 10px;
    position: relative;
}
.chatUsersList{
    color: white;
    border: 2px solid palevioletred;
}

  .chatContainer .messages{
    height:100%;
    width: 100%;
    padding: 0;
    position: relative;
  }
  
  
  .chatContainer .messageInputs input{
    height: calc(100%-5px);
    border: none;
    border-top: 5px solid rgb(66, 66, 184) ;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .chatContainer .messageInputs input{
    height: 100%;
    border: none;
    background-color: rgb(66, 66, 184);
    color: white;
    font-size: 18px;
  }
  
  .chatContainer .messageInputs .button:hover{
    background-color: rgb(49, 49, 134);
    cursor: pointer;
  }
  
  .messageIndividual{
    width: 200px;
    height: 30px;
    background-color: rgb(66, 66, 184);
    color:white;
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    display: grid;
    place-items: center;
  }
  .messageContainer{
    display: flex;
    width: calc(100%-30px);
    position: relative;
  }
  
  .messageContainer#You{
    height: fit-content;
    justify-content: flex-end;

  }
  .messageContainer#Other::before{
  left: 13px;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(114, 114, 189);;
  content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
  }
  .messageContainer#You::before{
    right: 13px;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(66, 66, 184);
    content: "";
      position: absolute;
      top: 15px;
      width: 0;
      height: 0;
    }
  .messageContainer#Other{
    height: fit-content;
    justify-content: flex-start;
  }
  
  #Other .messageIndividual{
    background-color: rgb(114, 114, 189);;
    color: black;
  }
  .controllers{
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .usersandchatrow{
    height: 80%;
  }