.formContainer{
    width: 600px;
    height: 350px;
    border: 5px solid rgb(66, 66, 184);
    border-radius: 10px;
    align-items: center;
    background-color: transparent;
    background: rgb(76,71,164);
background: linear-gradient(0deg, rgba(76,71,164,0.7486344879748774) 0%, rgba(220,244,255,1) 45%, rgba(150,215,228,1) 100%);
  }
  .form-control{
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 0;
  }
  .label{
      font-size: 15px;
      height: 40px;
  }
  .form-control input,.roomList{
    margin: 10px;
    height: 40px;
    border: 2px solid rgb(66, 66, 184);
    background-color: transparent;
    font-size: 15px;
  }
  .form-control input:focus{
    outline: none;
  }
  
  .form-control button{
    height: 50px;
    border: none;
    background-color: rgb(66, 66, 184);
    color:white;
    font-size: 16px;
    margin-top: 45px;
  }
  .roomList{
      width: 100%;
  }
  
  .form-control button:hover{
    background-color: rgb(49, 49, 134);
    cursor: pointer;
  }